/* MAIN STYLES */

body {
  background-color: #e7e7b8;
  font-family: 'Rubik';
  color: #003d11;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
}

/* NAV STYLES */
.nav {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.nav .nav-images {
  height: inherit;
}

.nav-images {
  display: flex;
  align-content: center;
  object-fit: contain;
}

.logo {
  padding-top: .7rem;
}

.nav-buttons ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-content: center;
}

.nav-buttons {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.nav-buttons li {
  display: flex;
  justify-content: space-around;
  filter: drop-shadow(0 -5px 0 #55702f);
}

.nav-buttons li:active {
  display: flex;
  justify-content: space-around;
  transform: translateX(-5px);
  transform: translateY(-5px);
  filter: drop-shadow(0 0 0 #55702f)
}

.nav-buttons a {
  display: flex;
  align-self: center;
  text-decoration: none;
  background-color: #003d11;
  color: #ecddd6;
  padding: 1rem;
  border-radius: 10px;
}

#active {
  font-style: italic;
}

/* I want a leaf next to the active page but that is not currently working */
#active::before {
  content: url(images/leaf.png);
}

/* HOME styling */

.container .left {
  float:left;
  width: 300px;
  object-fit: contain;
}

.container .left img {
  width: inherit;
}

img.can {
  width: 300px;
  float: right;
}
