/* MAIN STYLES */

/* COLORS */
:root{
  --outside-bg: #55702f;
  --inside-bg: #a3b785;
  --cream: #faf2dc;
  --dark-green: #003d11;
}

body {
  background-color: var(--outside-bg);
  font-family: 'Rubik';
  color: #003d11;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  background-color: var(--inside-bg);
  padding: 0rem 1rem 1rem;
  border-radius: 1rem;
}

h1 {
  font-family: Lobster;
  font-size: 60px;
  color: #01220a;
}

/* NAV STYLES */
.nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.nav .nav-images {
  height: inherit;
}

.nav h1 {
  margin: -.5rem 0 1rem 1rem;
  position: absolute;
}

.nav-images {
  display: flex;
  align-content: center;
  object-fit: contain;
}

.nav-buttons ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-content: center;
}

.nav-buttons {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.nav-buttons li {
  display: flex;
  justify-content: space-around;
}

.nav-buttons li:active {
  display: flex;
  justify-content: space-around;
}

.nav-buttons a {
  display: flex;
  align-self: center;
  text-decoration: none;
  background-color: var(--dark-green);
  color: var(--cream);
  padding: 1rem;
  border-radius: 10px;
}

#active {
  font-style: italic;
}

/* I want a leaf next to the active page but that is not currently working
#active::before {
  content: url(../images/leaf.png);
}
 */

/* HOME styling */
.container .left {
  object-fit: contain;
  text-align: center;
  font-size: 24px;
}

.container .left p {
  margin: 3px;
}

.container .left img {
  width: 400px;
  padding: 0rem 1rem;
  background-color: var(--cream);
  border-radius: 1rem;
  margin: 1rem 1rem 0 0;
}

.left p.name {
  text-transform: uppercase;
}

#clock {
  font-size: 150px;
  margin: 0;
}

.right {
  padding: 2rem 1rem 1rem 1rem;
}

.right h2 {
  margin: 2px;
}

.function-buttons {
  margin: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.function-buttons p {
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid var(--cream);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.function-buttons p:hover {
  cursor: pointer;
}

#water {
  background-color: #85b7b6;
}

#rename {
  background-color: #ab6848;
  color: var(--cream);
}

#reset {
  display: none;
}
/*watercan stuff */
.rogue-can, .rogue-water {
  position: fixed;
}

.rogue-can img {
  display: none;
  width: 225px;
  margin-left: 340px;
  margin-top: -40px;
  animation: none;
}

@keyframes tiltDown {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  10% {
    transform: rotate(0);
    opacity: 1;
  }
  50% {
    transform: rotate(-45deg)
  }
  80% {
    transform: rotate(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rogue-water img {
  display: none;
  width: 200px;
  margin-left: 200px;
  margin-top: 100px;
  animation: none;
}

@keyframes dropDown {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  30% {
    transform: translateY(0px);
    opacity: 0;
  }
  40% {
    transform: translateY(0px);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

/* LEAD STYLES */

.lboard_section{
  width: 1000px;
  margin:50px auto 0;
  background:#a3b785;
  border-radius: 5px;
  padding: 25px 40px;
  position:relative;
}
.container ul{
  display: flex;

}
.container ul li{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #003d11;
  cursor: pointer;
}
.container ul li:hover,
.container ul li.active{
  color: #fff;
}
.lboard_wrap{
  margin:auto
}


.lboard_section .lboard_mem .img{
    width: 50px;

}
.lboard_section .lboard_mem .img img{
  display: block;
  width:100%;

}

#active {
  font-style: italic;
}

.lboard_mem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name_bar span {
  font-size: 24px;
  font-weight: bold;
  align-self: center;
}

.points {
  align-self: center;
  float: right;
}

.lboard_mem p.points {
  text-align: right;
}

.lboard-left {
  display: flex;
  width: 30%;
}

.name_bar p {
  margin-left: 2rem;
}

.lboard-pl {
  position: absolute;
  margin: 35%;
  margin-top: -100px;
}

img.lboard-pic {
  display: flex;
  width: 300px;
  justify-content: center;
  margin: auto;
}

hr {
  color: var(--dark-green);
  background-color:  var(--dark-green);
  border-style: none;
  height: 2px;
}
