/* MAIN STYLES */

/* COLORS */
:root{
  --outside-bg: #55702f;
  --inside-bg: #a3b785;
  --cream: #faf2dc;
  --dark-green: #003d11;
}

body {
  background-color: var(--outside-bg);
  font-family: 'Rubik';
  color: #003d11;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  background-color: var(--inside-bg);
  padding: 0rem 1rem 1rem;
  border-radius: 1rem;
}

h1 {
  font-family: Lobster;
  font-size: 60px;
  color: #01220a;
}

/* NAV STYLES */
.nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.nav .nav-images {
  height: inherit;
}

.nav h1 {
  margin: -.5rem 0 1rem 1rem;
  position: absolute;
}

.nav-images {
  display: flex;
  align-content: center;
  object-fit: contain;
}

.nav-buttons ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-content: center;
}

.nav-buttons {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.nav-buttons li {
  display: flex;
  justify-content: space-around;
}

.nav-buttons li:active {
  display: flex;
  justify-content: space-around;
}

.nav-buttons a {
  display: flex;
  align-self: center;
  text-decoration: none;
  background-color: var(--dark-green);
  color: var(--cream);
  padding: 1rem;
  border-radius: 10px;
}

#active {
  font-style: italic;
}

/* I want a leaf next to the active page but that is not currently working
#active::before {
  content: url(../images/leaf.png);
}
 */

/* HOME styling */
.container .left {
  object-fit: contain;
  text-align: center;
  font-size: 24px;
}

.container .left p {
  margin: 3px;
}

.container .left img {
  width: 400px;
  padding: 0rem 1rem;
  background-color: var(--cream);
  border-radius: 1rem;
  margin: 1rem 1rem 0 0;
}

#clock {
  font-size: 200px;
  margin: 0;
}
